@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

body,
.top-bar-section ul li>a,
.side-nav{
    font-family: 'Roboto', sans-serif;
}

button, .button,
table thead tr th{
    font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Slabo 27px', serif;
}

table{
    width: 100%;
}

    table li{
        font-size: .8em;
    }

    table select{
        width: auto;
        min-width: 2.5rem;
        margin: 0;
    }

        table select option{
            font-size: .9em;
        }

    table .button.small.action{
        /*padding: 1em 1.5em;*/
        padding: .8em 1.3em;
        margin: 0;
    }

.button.small{
     font-size: 1em;
}

.table-actions{
    width:14em;
}

    .table-actions.large{
        width: 21em;
    }

    .table-actions.xlarge{
        width: 27em;
    }

ul.unlist{
    list-style: none;
    margin: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 45px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #149c82; /* #428bca */
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
 * Adaptaciones para colores de foundation
 */

button, .button{
    background-color: #4781a8;
    border-color: #223f52;
    color: white;
}

button:hover,
button:focus,
.button:hover,
.button:focus{
    background-color: #223f52;
    border-color: #4781a8;
}

/*  Boton info  */
 button.info, .button.info {
    background-color: #a84747;
    border-color: red;
    color: white;
}

button.info:hover,
button.info:focus,
.button.info:hover,
.button.info:focus{
    background-color: #522222;
    border-color: #8f0101;
}
/* Fin boton info  */

/*  Boton alert  */
button.alert, .button.alert{
    background-color: #ff6600;
    border-color: #542200;
}

button.alert:hover,
button.alert:focus,
.button.alert:hover,
.button.alert:focus{
    background-color: #a84300;
    border-color: #542200;
}
/* Fin boton alert  */

/*  Boton success  */
button.success, .button.success{
    background-color: #47a881;
    border-color: #22523f;
}

button.success:hover,
button.success:focus,
.button.success:hover,
.button.success:focus{
    background-color: #22523f;
    border-color: #47a881;
}
/* Fin boton success  */

.top-bar-section li.active:not(.has-form) a:not(.button){
    background-color: #8f0101;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover{
    background-color: red;
}

.side-nav li a:not(.button){
    color: #8f0101;
}

.side-nav li a:not(.button):hover,
.side-nav li a:not(.button):focus{
    background: rgba(0,0,0,0.125);
    color: #8f0101;
}

.side-nav li.active>a:first-child:not(.button){
    color:white;
    background-color: #8f0101;
}

/*
 *  Modificaciones para chosen
 */

.chosen-container, .chosen-container-multi{
    margin-bottom: 1rem;
}
